@{
    ViewData["Title"] = "My Project Brief";
}
<h1>@ViewData["Title"]</h1>

<section id="company-info">
    <h2>Company Info</h2>
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <td>Plant Pilot</td>
                <td>We chose this name with the understanding that some people require a bit of direction when it comes to plant care. Come aboard and let us show you what having a green thumb really means.</td>
            </tr>
            <tr>
                <td>What we do</td>
                <td>Everyone Loves having plants at home, but not everyone knows how to properly care for them. We here at Plant Pilot realized a little direction goes a long way! With our automated system and plant directory, we'll get your house looking like 
                    the green destination youve always wanted!</td>
                
            </tr>
            <tr>
                <td>Project members</td>
                <td>Front-end Developer: Mario Spina   Back-end Developer: Mario Spina</td>
            </tr>
        </tbody>
    </table>
</section>

<section id="proposal">
    <h2>Proposal</h2>
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <td>What you can expect from this site</td>
                <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt, non. Assumenda tenetur error voluptates consequatur accusantium deleniti inventore similique quia, perspiciatis recusandae. Velit molestiae tempora, veritatis quaerat quam harum labore.</td>
            </tr>
            <tr>
                <td>Products and Services</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. A distinctio ratione hic sed alias velit provident praesentium laboriosam possimus architecto tempore voluptates eos ullam perferendis deserunt nemo dignissimos, saepe perspiciatis?</td>
            </tr>
            <tr>
                <td>Industry Need</td>
                <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda ipsa maxime, eius a, labore ad velit at cum officiis deserunt rem non distinctio rerum facilis quo fugiat tempore? Doloribus, harum!</td>
            </tr>
            <tr>
                <td>User Roles</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptatibus nihil reiciendis, et doloremque corporis id repudiandae error praesentium nulla, quod recusandae ipsa doloribus fugiat fugit deleniti aperiam hic nemo?</td>
            </tr>
        </tbody>
    </table>
</section>
