html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*typography*/
.nav-item a,  .pb-3 h2 {
  font-family: 'Barlow', sans-serif;
}

.text-center h1, .pb-3 h1{
  font-family: 'Open Sans', sans-serif;
}

.text-center p {
  font-family: 'PT Sans', sans-serif;
  
}

#company-info tbody tr td:nth-child(odd), #proposal tbody tr td:nth-child(odd) {
  font-family: 'Barlow', sans-serif;
  font-weight: bolder;
}

#company-info tbody tr td:nth-child(even), #proposal tbody tr td:nth-child(even) {
  font-family: 'PT Sans', sans-serif;
}

/* navbar logo and nav customization*/
.navbar-logo {
  height: 100px;
  width: auto; 
  vertical-align: middle;
}

/*had to use the important tag because i couldnt for the life of me figure out how
to change the background of the navbar within the other css files*/
header .navbar{
  background-color: #d6d0b8 !important;
}
/*sign in button customization */
  .nav-item .btn-primary {
  background-color: #f1f4c6; 
  border: none;
  color: #000000; 
  font-weight: 600; 
  padding: 10px 20px; 
  border-radius: 4px; 
  transition: background-color 0.3s ease; 
  text-decoration: none; 
}

.form-group .btn-primary{
  background-color: #9dc7a0; 
  border: none;
  color: #000000; 
  font-weight: 600; 
  padding: 10px 20px; 
  border-radius: 4px; 
  transition: background-color 0.3s ease; 
  text-decoration: none; 
}

.btn-primary:hover {
  background-color: #147d51; 
  color: #000000; 
  cursor: pointer; 
}


.btn-primary:active {
  background-color: #0b4b31; 
}
.btn-primary:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem #0b4b31; /* Bootstrap style focus shadow */
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #0b4b31;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:#f1f4c6
}


/* photo grid on home page */

.photo-grid .col-md-4 {
  border: 1px solid #050505;  
  padding: 15px;  
  box-sizing: border-box; 
}

.photo-grid img {
  max-width: 100%;  
  display: block;  
  margin: 0 auto;  
}